.sr_only{position: absolute;top: -9999px;font-size: 0;height: 0;}
/* guide */
p.top_tit{z-index:50;position:fixed;top:0;width:100%;padding:16px 0;background-color:#222;text-align:center;color:#fff;}
.g_contatiner{padding:100px 20px 50px;background: color #f7f7f7;}
.g_content{margin-top:30px;}
div.g_item{padding:24px;border:1px solid rgba(0, 0, 0, .2);border-radius:5px;background-color:#fff;}
div.g_item > .g_title{margin-bottom:10px;padding-bottom:8px;border-bottom:1px solid rgba(0, 0, 0, .2);color:rgba(0, 0, 0, .3);font-size:20px;}
/* input */
.type1 .input_wrap{position:relative;display:flex;align-items:center;padding-right:137px;margin-top:10px;}
label{font-size:14px;font-weight:500;height:20px;}
.type1 .input_box{position:relative;width:400px;}
.type1 .input_box .input_info{width:100%;margin-top:4px;padding:13px 50px 13px 16px;border:2px solid #222;box-sizing:border-box;border-radius:10px;}
.type1 .input_box .btn_del{position:absolute;top:50%;right:20px;width:24px;height:24px;margin-top:-12px;background:url(../img/btn_del.svg) no-repeat;border:0;}
.type1 .input_btn{width:100px;height:45px;margin-left:30px;}
.type1 .input_btn.on{background-color:tan;}

.type2{position:relative;}
.type2 .btn_search{margin-top:10px;}
.type2 .input_wrap{display:none;}
.type2 .input_wrap.on{display:block;}
.type2 .input_wrap .input_info{width:100%;margin-top:10px;padding:13px 50px 13px 16px;border:2px solid #222;box-sizing:border-box;border-radius:10px;}

/* alert */
.layer_wrap{position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;}
.layer_wrap .dim{position:fixed;top:0;left:0;z-index:1001;width:100%;height:100%;}
.alert_pop .pop_con{position:fixed;top:50%;left:50%;z-index:1002;width:100%;padding:20px;transform:translate(-50%, -50%);box-sizing:border-box;}
.alert_pop .pop_con .inner{position:relative;min-height:190px;border-radius:20px;background-color:#fff;}
.alert_pop .pop_con .inner .txt{font-size:14px;font-weight:300;line-height:23px;text-align:center;}
.alert_pop .btn_wrap{display:flex;align-items:center;justify-content:center;padding-top:30px;}
.alert_pop .btn_wrap button{flex:1;}
[class*="btn_type"]{display:block;width:100%;text-align:center;border:2px solid transparent;border-radius:100px;font-weight:500;}
.btn_type2{position:relative;height:44px;border:2px solid #e6e6e6;background-color:#fff;font-size:14px;color:#000;line-height:40px;}
.btn_type{position:relative;height:44px;font-size:14px;line-height:40px;}
.dim{background:rgba(0, 0, 0, 0.6) !important;cursor:pointer;}

/* tab */
.all_menu_area{position:relative;}
.all_menu_area .menu_list{position:fixed;top:20px;right:20px;}
.all_menu_area .menu_list li{width:100px;height:50px;margin-top:4px;border:1px solid #222;border-radius:10px;line-height:50px;}
.all_menu_area .menu_list li.on{background-color:yellow;}
.all_menu_area .menu_list li a{display:inline-block;width:100%;height:100%;color:#222; text-align:center;text-decoration:none;}
.all_menu_area .sub_menu ul li{height:100vh;}
.all_menu_area .sub_menu ul li:nth-child(1){background-color:aliceblue;}
.all_menu_area .sub_menu ul li:nth-child(2){background-color: blanchedalmond;}
.all_menu_area .sub_menu ul li:nth-child(3){background-color: tomato;}